[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/donthadineshkumar
[access "refs/for/refs/*"]
	read = group user/donthadineshkumar
	push = group user/donthadineshkumar
	label-Code-Review = -2..+2 group user/donthadineshkumar
	label-Verified = -1..+1 group user/donthadineshkumar
	rebase = group user/donthadineshkumar
	removeReviewer = group user/donthadineshkumar
	submit = group user/donthadineshkumar
[access "refs/heads/*"]
	read = group user/donthadineshkumar
	create = group user/donthadineshkumar
	push = +force group user/donthadineshkumar
	pushMerge = group user/donthadineshkumar
[access "refs/tags/*"]
	push = group user/donthadineshkumar
	push = +force group user/donthadineshkumar
